.link-list {
    margin-top: 30px;
    list-style: none;
}

.item {
    background-color: lightgray;
    width: 400px;
    font-size: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 10px;
    border: 1px solid gray;
}

.link {
    color: gray;
    text-decoration: underline;
}
