.header-menu-item {
    display: inline-block;
    padding-top: 7px;
    width: 15%;
}

.header-menu {
    background-color: salmon;
    height: 40px;
    padding-left: 0;
}

.header-menu-link {
    text-decoration: none;
    color: #ffffff;
}

.header {
    text-align: center;
}

.header-image {
    height: 52px;
}
