.parent {
    display: flex;
    width: 800px;
    height: 120px;
    margin: auto;
    border: 1px solid lightcoral;
    overflow-x: scroll;
}

.child {
    height: 110px;
    width: 100px;
    margin-top: 5px;
    margin-left: 10px;
    border: 1px solid gray;
    flex: none;
}
